---
import * as page from '../../../README.md';
---


<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <div>
            <Fragment set:html={page.compiledContent()} />
        </div>
    </body>
</html>